.cabeceropersonalizado{
	background-color: #4FB99F;
	color: white;
	border-bottom:2px solid black;
}

.cabeceropersonalizado a{
	background-color: #4FB99F;
	color: white;
}

a{
	text-shadow: 1px 1px #000;
}


