.cabeceropersonalizado{
	background-color: #4FB99F;
	color: white;
	/*border-bottom:2px solid black;*/
}

.cabeceropersonalizado a{
	background-color: #4FB99F;
	color: white;
}

a{
	/*text-shadow: 1px 1px #000;*/
	transition: all 1s ease-in-out;
}
a:hover{
	transform: scale(1.1,1.1);
}


.activa{
	color:#112F41 !important;
	font-size: 120%;
}




