.bosque{
    background-image: url('../../assets/images/bosque.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
}

.curs{
    cursor: pointer;
}

.bg{
    background-color: rgb(190, 109, 51);
}

.containerDos{
    position: fixed;
    width: 100%;
    min-height: 600px;
    height: 100%;
    background-color: #4FB99F;
    top:0px;
    left: 0px;
}

.containerDos p{
    position: relative;
    top:40%;
    font-size: 2em;
    color:white;
}

.boton{
    position: absolute;
    top:50%;
    left:45%;
}