<div class="container-fluid">
    <div class="container">
        <div class="bg-personal">
            <router-outlet></router-outlet>
        </div>
        <h3>Elige uno de nuestros juegos</h3>
        <div class="presentacion row">
                <div class="carta">
                    <a [routerLink]="['../colores']">
                        <div class="sombra"><img src="../../assets/images/colores.jpg"/></div>
                        <h5>Colores</h5>
                    </a>
                </div>
            <div class="carta">
                <a [routerLink]="['../trivial']">
                <div class="sombra"><img src="../../assets/images/trivial.jpg"/></div>
                <h5>Trivial</h5>
                </a>
            </div>
            <div class="carta">
                <a [routerLink]="['../reciclatu']">
                    <div class="sombra"><img src="../../assets/images/reciclatu.jpg"/></div>
                <h5>Reciclatu</h5>
                </a>
            </div>
            <div class="carta">
                <div class="sombra"><img src="../../assets/images/proximamente.jpg"/></div>
                <h5>Titulo</h5>
            </div>
            <div class="carta">
                <div class="sombra"><img src="../../assets/images/proximamente.jpg"/></div>
                <h5>Titulo</h5>
            </div>
            <div class="carta">
                <div class="sombra"><img src="../../assets/images/proximamente.jpg"/></div>
                <h5>Titulo</h5>
            </div>
            

        </div>
       

    </div>
</div>