<div class="container-fluid">
    <div class="container">
        <div class="bg-personal">
            <router-outlet></router-outlet>
        </div>
        <h3>Mini-juegos</h3>

        
        <div class="row">
            <div class="col-12 col-xs-6 col-md-6 col-lg-4">
                <a [routerLink]="['../colores']">
                    <div class="sombra p-5">
                        <img class="img-fluid" src="../../assets/images/trash-truck.png"/>
                    </div>
                    <h5 class="text-center">Los contenedores</h5>
                </a>
            </div>
            <div class="col-12 col-xs-6 col-md-6 col-lg-4">
                <a [routerLink]="['../trivial']">
                    <div class="sombra p-5">
                        <img class="img-fluid" src="../../assets/images/trivial.png"/>
                    </div>
                <h5 class="text-center">Trivial</h5>
                </a>
            </div>
            <div class="col-12 col-xs-6 col-md-6 col-lg-4">
                <a [routerLink]="['../reciclatu']">
                    <div class="sombra p-5">
                        <img class="img-fluid" src="../../assets/images/reciclar-signo.png"/>
                    </div>
                <h5 class="text-center">Reciclatu</h5>
                </a>
            </div>
            <div class="col-12 col-xs-6 col-md-6 col-lg-4">
                <div class="sombra p-5">
                    <img class="img-fluid" src="../../assets/images/mundo.png"/>
                </div>
                <h5 class="text-center">Cuida del mundo</h5>
            </div>
            <div class="col-12 col-xs-6 col-md-6 col-lg-4">
                <div class="sombra p-5">
                    <img class="img-fluid" src="../../assets/images/agua.png"/>
                </div>
                <h5 class="text-center">Pescando residuos</h5>
            </div>
            

        </div>
        
       

    </div>
</div>