<div class="container-fluid">
    <div class="container">
        <div class="bg-personal">
            <router-outlet></router-outlet>
        </div>
        <h3>Elige uno de nuestros juegos</h3>
        <div class="presentacion row">
                <div class="carta">
                    <a [routerLink]="['../colores']">
                        <img src="../../assets/images/colores.jpg"/>
                        <h5>Colores</h5>
                    </a>
                </div>
            <div class="carta">
                <a [routerLink]="['../trivial']">
                <img src="../../assets/images/trivial.jpg"/>
                <h5>Trivial</h5>
                </a>
            </div>
            <div class="carta">
                <img src="../../assets/images/proximamente.jpg"/>
                <h5>Titulo</h5>
            </div>
            <div class="carta">
                <img src="../../assets/images/proximamente.jpg"/>
                <h5>Titulo</h5>
            </div>
            <div class="carta">
                <img src="../../assets/images/proximamente.jpg"/>
                <h5>Titulo</h5>
            </div>
            <div class="carta">
                <img src="../../assets/images/proximamente.jpg"/>
                <h5>Titulo</h5>
            </div>
            <div class="carta">
                <img src="../../assets/images/proximamente.jpg"/>

                <h5>Titulo</h5>
            </div>

        </div>
       

    </div>
</div>