
<div class="bg-personal">
  <form class="px-4 py-3 row">
    <div class="form-group col-md-6">
      <label class="text-light" for="exampleDropdownFormEmail1">Usuario</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="ej: Usuario12">
    </div>
    <div class="form-group col-md-6">
      <label class="text-light" for="exampleDropdownFormPassword1">Contraseña</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-outline-light ml-3">Entrar</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="m-4 text-light" href="#">Registrate</a>
</div>