
<div class="bg-personal">
  <form class="px-4 py-3 row"
  [formGroup]="form"
  (ngSubmit)="inicioSesion(form.value)">
    <div class="form-group col-md-6">
      <label class="text-light" for="exampleDropdownFormEmail1">Usuario</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="ej: Usuario12" formControlName="usuario">
    </div>
    <div class="form-group col-md-6">
      <label class="text-light" for="exampleDropdownFormPassword1">Contraseña</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña" formControlName="contrasena">
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-outline-light ">Entrar</button>
    </div>
    <div class="col-6">
      <p class="text-info text-right">¿Aún no tienes cuenta? <u><a class="text-info" [routerLink]="['../registro']">¡Registrate!</a></u></p>
      
    </div>
  </form>
</div>