<div class="container-fluid">
  <div class="container">
    <div class="proyecto">
      <h3>Proyecto</h3>
      <hr/>
      <p>El proyecto Recicla hoy da sus primeros pasos como una solución a la gran necesidad social de educar a nuestros hijos en valores tan importantes como el reciclaje de residuos.</p>
      <p>Hoy día, nadie es capaz de negar los importantes daños que el ser humano con su acción está haciendo al medio ambiente. Por ello, es también nuestra responsabilidad contribuir de forma activa a paliar los efectos nocivos de la acción contaminante.</p>
      <p>El proyecto tiene como base enseñar a los más pequeños, a través de sencillos juegos apoyados por una infografía temática, aquellas cosas que pueden hacer en su vida cotidiana para hacer más efectiva la importante labor del reciclaje  </p>
    </div>
    <div class="promotores">
      <h3>Promotores</h3>
      <hr/>
      <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src=".../100px160/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src=".../100px160/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Marcos Agudo Prieto</h5>
            <p class="card-text">Desarrollador web.Full-stack.MEAN-stack.Diseñador gráfico</p>
            
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
