.container-fluid{
    background-color: white;
}

.container{
    background-color: white;
}

.proyecto{
    padding:25px;
    color: #444;
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
}


.promotores{
   
    margin:0px auto;
    padding:25px;
    color: #444;
}



    

