<div class="container-fluid">
  <div class="container">
    <div class="proyecto">
      <h3>El proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A deserunt, ratione minus provident eum perferendis consequatur, repellendus dolorum vero itaque illum optio error distinctio! Sapiente autem eaque error rerum iste.</p>
    </div>
    <div class="promotores">
      <h3>Promotores</h3>
      <div class="clara">
        <div>
          <img src="" alt=""/>
        </div>
        <div class="texto">
          <h5>Nombre</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad labore magni hic quo ab. Magnam neque adipisci culpa aut atque, nostrum ratione minus quis numquam doloremque molestias sunt repellendus explicabo?</p>
        </div>
      </div>
      <div class="marcos">
        <div>
          <img src="" alt=""/>
        </div>
        <div class="texto">
          <h5>Nombre</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad labore magni hic quo ab. Magnam neque adipisci culpa aut atque, nostrum ratione minus quis numquam doloremque molestias sunt repellendus explicabo?</p>
        </div>
      </div>
    </div>



  </div>
</div>
