.canvas{
    width: 750px;
    height: 450px;
    background-color: grey;
    border: 5px solid red;
    margin:0px auto;
}

.canvasDos{
    width: 750px;
    height: 450px;
    background-color: black;
    border: 5px solid red;
    margin:0px auto;
    position: absolute;
    top:0px;
    color:white;
}


.caja{

    max-width: 90px;
    max-height: 90px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    top:350px;
    left:450px;
    display: block;
}


.box{
    width: 100px;
    height: 150px;
    
}

.contenedores div{
    float: left;
    margin: 10px;
}

.organico{
    background-color: brown;
}

.otrosresiduos{
    background-color: orange;
}

.plasticos{
    background-color: yellow;
}

.vidrios{
    background-color: green;
}

.papeles{
    background-color: blue;
}

.marcador{
    height: 30px;
}