<div class="canvas container-fluid m-0">
  
  <div class="container bg text-light">

      <div class="row alturaMarcadores">
  
        <div class="marcador col-12 col-md-6 text-center mt-0">
          <p> </p>
          <p *ngIf="acierto == 'true'" class="text-dark">¡Enhorabuena! Has acertado.</p>
          <p *ngIf="acierto == 'false'" class="text-dark">Lo siento mucho. Te has equivocado.</p>
        </div>
        <div class="puntos col-12 col-md-6 text-center pt-3">
          <p class="text-dark">Tu puntuación es: {{contador}}</p>
        </div>
      </div>
        <!--Contenedores-->
            
       
            <div class="contenedores row">

              <div class="col-6 col-md-2 p-auto" *ngFor="let contenedor of contenedores" mwlDroppable (drop)="onDrop($event, contenedor)" [id]="contenedor.nombre">
                  <img class="img-fluid" src="{{contenedor.imagen}}"/>
                  <!--<span [hidden]="droppedData">Drop here</span>
                  <span [hidden]="!droppedData">Datos arrastrados: "{{ droppedData }}"!</span>-->
              </div>
                <!--{{droppedData}}-->
            </div>
        
        
          <!--Residuos-->
        <div *ngFor="let residuo of residuos; let i = index"  mwlDraggable class="caja" dropData="{{residuo.tipo}}" (dragEnd)="dragEnd($event,residuo)">
          <!--<img src="{{residuo.imagen}}"/>-->
          <p class="text-center">{{residuo.nombre}}</p>
        </div>
  </div>
</div>
<div *ngIf="fin" class="containerDos text-center">
  <p class="ml-5 mr-5 text-white">¡Fin!. Tu puntuación es de: {{contador}} puntos.</p>
  <button class="btn btn-primary-light boton mt-5" (click)="rutaOpen()">Regresar</button>
</div>