<div class="bg-img">
  <div class="container mt-3 mb-3">
    <h1 class="text-center text-warning">LAS MEJORES PUNTUACIONES</h1>
    <table class="table table-hover">
      <thead class="thead-color">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Colegio</th>
          <th scope="col">Puntuación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Santo Tomás</td>
          <td>150</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>La Salle</td>
          <td>480</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


