.thead-color{
    background-color: #112F41;
    color: white;
}
/*.bg-img{
background-image: url('../../assets/images/ciudad/ciudad.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}*/