<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="../../assets/images/ciudad/ciudad.png" class="img-fluid " alt="">
      <img src="../../assets/images/ciudad/camion.png" class="img-fluid size-camion" alt="">
    </div>
    <div class="col-lg-8 col-md-12 col-xs-12">
      <app-contenedores (envioArrContenedor)="handleEnvioArr($event)"></app-contenedores>
      <app-principal [contenedor]="arrContenedroSeleccionado"></app-principal>
    </div>

    <div class="col-lg-4 col-md-12 col-xs-12 mt-3">
      <app-informacion [contenedor]="arrContenedroSeleccionado"></app-informacion>
    </div>
  </div>
</div>

