.ciudad{
    position: relative;
}
@keyframes miAnimación {
    0% { margin-left: -1350px}
    100%{ margin-left: 200px }
  }
   
.size-camion { animation: miAnimación 8s cubic-bezier(0, 0, 1, 1) infinite normal both;}
.size-camion{
    width: 150px;
    position: absolute;
    margin-left: -900px;
    margin-top: 13%;
    transform: translate(30px, 7px);
}

@media only screen and (max-width: 1000px) {
    .size-camion{
        margin-top: 10%;
    }
}
@media only screen and (max-width: 750px) {
    .size-camion{
        margin-top: 8%;
    }
}
@media only screen and (max-width: 500px) {
    .size-camion{
        width: 100px;
        margin-top: 6%;
    }
}