<div class="container-fluid">
  <div class="container">

    <h1 class="m-3">RECICLA HOY</h1>
    <h2>¿Cómo funciona?</h2>
    <div class="row">

        <div class="col-6 bg-light"><img src="" alt=""></div>
        <div class="col-6">
          <h3>1 Te registras</h3>
          <p>El registro debe realizarlo el adulto responsable de los niños a lo que va a permitir el acceso a los juegos</p>
        </div>

        <div class="col-6">
          <h3>2 Durante el registro deberas añadir a los niños que quieren jugar</h3>
          <p>¡No te olvides de darle a guardar!</p>
        </div>
        <div class="col-6 bg-light"><img src="" alt=""></div>

        <div class="col-6 bg-light"><img src="" alt=""></div>
        <div class="col-6">
          <h3>3 Los niños estan listos para jugar</h3>
          <p>Recuerda que puedes acceder en cualquier momento a tu cuenta de usuario para consultar tus puntos y el ranquin</p>
        </div>

    </div>

    

  </div>
</div>
