<div class="container-fluid">
  <div class="container">
   
      <!--Titulo-->

    <h3>Regístrate con nosotros</h3>
     <p>
      Completa este sencillo formulario, y disfruta aprendiendo mientras juegas, buenos hábitos de reciclaje.
    </p>

    <div class="formulario bg-personal">
      <form [formGroup]="form"
      (ngSubmit)="usuarioRegistrado(form.value)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <!--mail-->
            <label for="inputEmail4" class="text-light">Correo electrónico</label>
            <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="example@mail.com" formControlName="email">
          </div>
          <div class="form-group col-md-6">
            <!--contraseña-->
            <label for="inputPassword4" class="text-light">Contraseña</label>
            <input type="password" name="contrasena" class="form-control" id="inputPassword4" placeholder="Password" formControlName="contrasena">
          </div>
        </div>
       <div class="form-row">
        <div class="form-group col-md-6">
          <!--nombre-->
          <label for="username" class="text-light">Nombre de usuario</label>
          <input type="text" name="nombre" class="form-control" id="username" formControlName="nombre">
        </div>
        <div class="form-group col-md-6">
          <!--edad-->
          <label for="edad" class="text-light">Edad</label>
          <input type="text" name="edad" class="form-control" id="edad" formControlName="edad">
        </div>
      </div>
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <!--municipio-->
            <label for="inputCity" class="text-light">Municipio</label>
            <input type="text" name="municipio" class="form-control" id="inputCity" formControlName="municipio">
          </div>
          <div class="form-group col-md-4">
            <!--provincia-->
            <label for="inputState" class="text-light">Provincia</label>
            <select name="provincia" id="inputState" class="form-control" formControlName="provincia">
              <option selected>Elige</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <!--codigo postal-->
            <label for="inputZip" class="text-light">Código Postal</label>
            <input type="text" name="postal" class="form-control" id="inputZip" formControlName="postal">
          </div>
            <!--Curso-->
            <div class="col-md-3">
              <label for="curso" class="text-light">Curso</label>
              <select class="form-control" formControlName="curso">
                <option>Selecciona...</option>
                <option>1º Primaria</option>
                <option>2º Primaria</option>
                <option>3º Primaria</option>
                <option>4º Primaria</option>
                <option>5º Primaria</option>
                <option>6º Primaria</option>
                <option>1º ESO</option>
                <option>2º ESO</option>
                <option>3º ESO</option>
                <option>4º ESO</option>
                <option>Bachiller</option>
              </select>
            </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              He leido y acepto la <a href="#">política de privacidad</a>
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-light" value="enviar" [disabled]="!form.valid">Enviar</button>
      </form>
    </div>
  </div>
</div>
