<ul class="row p-3">
  <ol class="col-2"><img src="../../../assets/images/contenedores/contenedor_amarillo_xs-01.png" class="size-1 img-fluid" alt=""></ol>
  <ol class="col-2"><img src="../../../assets/images/contenedores/contenedor_verde_xs-01.png" class="size-1 img-fluid" alt=""></ol>
  <ol class="col-2"><img src="../../../assets/images/contenedores/contenedor_azul_xs-01.png" class="size-1 img-fluid" alt=""></ol>
  <ol class="col-2"><img src="../../../assets/images/contenedores/contenedor_naranja_xs-01.png" class="size-1 img-fluid" alt=""></ol>
  <ol class="col-2"><img src="../../../assets/images/contenedores/contenedor_marron_xs-01.png" class="size-1 img-fluid" alt=""></ol>
  <ol class="col-2"><img src="" alt=""></ol>
</ul>
